/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 0.5rem;
	text-align: center;
}

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	flex: 1;
	height: 100%;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;
	max-height: none;
	max-width: none;
	color: var(--ifm-font-color-base);
	font-family: Cormorant, serif;
}

.heroContent {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100% !important;
	max-width: none;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	max-height: none;
	gap: 1rem;
	padding: 8vw;
}

.features {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 8vw;
}

.title {
	font-size: 8rem;
	font-weight: 300;
	margin: 0;
	font-family: inherit;
	font-style: italic;
	margin-left: -2rem;
}

h1 {
	font-size: 3rem;
	font-weight: 200;
	margin: 0;
	margin-bottom: 2rem;
	font-family: Cormorant, serif;
	font-style: italic;
}

h2 {
	font-size: 1.5rem;
	/* font-weight: 800; */
	font-weight: 200;
	margin: 0;
	margin-bottom: 2rem;
	/* font-family: inherit; */
	/* font-style: italic; */
}

h3 {
	font-size: 1.25rem;
	font-weight: 200;
	margin: 0;
	margin-bottom: 2rem;
	font-family: inherit;
	font-style: italic;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: initial;
}

.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.2) contrast(1) invert() hue-rotate(230deg) saturate(1.3)
		brightness(1);
}
[data-theme='dark'] .video {
	filter: contrast(0.6) contrast(1.2) brightness(0.6) saturate(0.8)
		hue-rotate(40deg);
}

.featuresTitle {
	margin-bottom: 6rem;
}

.featureStep {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	align-items: flex-start;
	text-align: left;
	position: relative;
	margin-bottom: 8rem;
	width: 100%;
}
.featureStepReverse {
	flex-direction: row-reverse;
}

.featureStepInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: sticky;
	top: 80px;
	flex: 1 0 0;
	min-width: 0;
	z-index: 1;
	background-color: var(--ifm-background-color);
}
.featureStepInfo > ul {
	text-align: left;
}

.featureStepCode {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	tab-size: 2ch;
	flex: 1 0 0;
	min-width: 400px;
	width: 100%;
}

@media (max-width: 900px) {
	.featureStep {
		flex-direction: column;
		width: 100%;
	}
	.featureStepInfo {
		width: 100%;
		padding: 2rem;
	}
	.featureStepCode {
		width: 100%;
		min-width: 0;
	}
	.features {
		padding: 8px;
	}
}

.musing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8vw;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 200;
}
p {
	max-width: 70ch;
}

strong {
	font-family: Cormorant, serif;
	font-style: italic;
	font-size: 1.25em;
}

.explanation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 8vw;
	text-align: start;
	font-size: 1.25rem;
	font-weight: 200;
	width: 100%;
}

.explanation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
}

.explanation ul > li {
	margin: 0;
	padding: 0;
}

summary {
	cursor: pointer;
	font-family: Lora, serif;
	font-size: 1em;
}

summary > span {
	font-style: italic;
}
