@keyframes flipUp {
	0% {
		transform: rotateX(90deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0);
		opacity: 1;
	}
}

@keyframes flipOut {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-90deg);
		opacity: 0;
	}
}

.root {
	position: relative;
	width: 100%;
	font-size: 2rem;
	font-weight: 500;
}

.next {
	animation: flipUp 0.5s ease-in-out;
	animation-fill-mode: forwards;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.current {
	animation: flipOut 0.5s ease-in-out;
	animation-fill-mode: forwards;
}
