name: Changesets
on:
  push:
    branches:
      - main
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_PERSONAL_TOKEN }}
      - uses: pnpm/action-setup@v4
        with:
          version: "9.15.0"
      - name: setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"
      - name: install dependencies
        run: pnpm install --frozen-lockfile
      - name: build packages to verify they are buildable
        run: pnpm run build
      - name: create and publish versions
        uses: changesets/action@v1
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.CI_PERSONAL_TOKEN }}
