name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_PERSONAL_TOKEN }}
      - uses: pnpm/action-setup@v4
        with:
          version: "9.15.0"
      - name: setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --filter docs --frozen-lockfile

      - name: Build website
        run: pnpm --filter docs build-docs

      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./docs/build
