name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout code repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_PERSONAL_TOKEN }}
      - uses: pnpm/action-setup@v4
        with:
          version: "9.15.0"
      - name: setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install playwright
        run: pnpm ci:playwright:install

      - name: Build
        run: pnpm build

      - name: Run package tests
        run: pnpm ci:test:unit

      - name: Run integration tests
        run: pnpm ci:test:integration
        env:
          CI: true
