name: Deploy to GitHub Pages

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: install pnpm
        run: npm i pnpm@latest -g
      - name: setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run package tests
        run: pnpm test

      - name: Run suite tests
        run: pnpm --filter @lo-fi/test test
