name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: install pnpm
        run: npm i pnpm@9.15.0 -g
      - name: setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install playwright
        run: pnpm ci:playwright:install

      - name: Build
        run: pnpm build

      - name: Run package tests
        run: pnpm ci:test:unit

      - name: Run integration tests
        run: pnpm ci:test:integration
        env:
          CI: true
